/* Copyright (C) 2020-2022 Aditya Shakya <adi1090x@gmail.com> */
/* Everyone is permitted to copy and distribute copies of this file under GNU-GPL3 */

* {
	background:			  #101012;
	background-alt:		#1B1B1F;
	brdr:             #242427;
  outer:            #09090A;
  foreground:		  	#D8D8D8;
  foresel:          #67AFC1;
  selected:			    #1B1B1F;
	urgent:				    #E06C75;
	on:				  	    #87A181;
	off:				      #D88B9F;
}
